#关于的apache mod_rewrite的设置可以参考资料：http://lamp.linux.gov.cn/Apache/ApacheMenu/mod/mod_rewrite.html
<IfModule mod_rewrite.c>

#设置了目录级重写的基准URL
RewriteEngine On
RewriteBase /

#L意思为立即停止重写操作，并不再应用其他重写规则
RewriteRule ^/$ /index.php [L]
RewriteRule ^$ /index.php [L]

#禁止访问除根目录下的其它php,sql,file文件
RewriteRule ^[^/]*?/.*?\.(php|sql|file).*?$ /index.php [L]

#没有找到的文件或是目录均用index.php来处理
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

#像litespeed这样的服务器设置上传不容易,所以直接指定大小
php_value upload_max_filesize 128M
php_value post_max_size 64M

</IfModule>